body {
	background-color: #000000;
}

div#contenedor {
	width: 800px;
	margin: 0 auto;
}

table {
	border-style: none;
	padding: 1px 1px 1px 1px ;
	text-align: center;
	border-spacing:  0px;
}

a {
	color: #000000;
}


